* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(217, 235, 235);
}
#menu a {
  font-size: 20;
  font-weight: bold;
  color: rgb(235, 235, 247);
}
.carousel-inner {
  max-height: 39rem;
}

@media (max-width: 768px) {
  #intro {
    text-align: center;
    width: 90% !important;
  }
}
